.mainwrapper {
	/*width: 1135px;
	height: 750px; */
	background-color: #6e70df;
	padding: 10px;
}

.youtubeplayer {
    width: 560px;
    height: 315px;
    float: left;
    padding-right: 10px;
}

.soundcloudplayer {
    height: 300px;
    width: 25%;
    float: left;
}

.spotifyplayer {
    width:25%;
    height: 352px;
    margin-left: 20px;
    float: left;
}

.playlist {
    width: 250px;
    height: 500px;
    background-color: #ffffff;
    margin-top: 315px;
    margin-left: 1300px;
}