.mainwrapper {
	/*width: 1135px;
	height: 750px; */
	background-color: #6e70df;
	padding: 10px;
}

.youtubeplayer {
    width: 560px;
    height: 315px;
    float: left;
    padding-right: 10px;
}

.soundcloudplayer {
    height: 300px;
    width: 25%;
    float: left;
}

.spotifyplayer {
    width:25%;
    height: 352px;
    margin-left: 20px;
    float: left;
    padding-top: 15px;
}

.playlist {
    width: 250px;
    height: 300px;
    background-color: #ffffff;
    margin-top: 100px;
    margin-left: 50px;
}

.player {
    width: 600px;
    height: 360px;
    float: top;
    padding-top: 30px;

}

.button {
    border: 2px solid rgb(138, 0, 0);
}